
/**** Login *****/
.login__container {
	width: 100vw;
    height: 100vh;
	position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100 !important;
    position: relative;
}
.custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; /* Ensure it's above everything */
}
.login-close-container {
	width: fit-content;
}
.login__x {
    position: absolute;
    top: 6px;
    right: 5px;
    color: white;
	width: 30px;
	font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
	z-index: 250;
}
.image-preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 10px;
    border: 2px solid #ccc;
  }
.login-file {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
}
input[type="file"] {
    display: none;
}
.login-input-file {
    margin-top: 10px;
    display: inline-block;
    background-color: #1cbed6; /* Red button */
    color: white;
    padding: 6px 15px;
    border-radius: 4px;
    border: 2px solid orange;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Change background on hover */
.login-input-file:hover {
    background-color: orange; 
    color: white;
}

.login-file input {
    width: 150px !important;
}
.login-file input:hover {
    background-color: orange;
    color: white;
}
.xicon {
	width: 48px;
}
.login__x:hover {
    color: orange;
}
.login__modal {
    position: relative;
    width: 100%;
    top: 0;
    bottom: 50;
}
.login__button {
    position: relative;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 14px;
    border-color: white;
}
.login__button:hover {
    background-color: white;
    color: black;
}
.login-logo {
    width: 150px;
}
.login-form {
	position: relative;
    width: 450px;
    background: rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 16px;
    margin: auto;
	overflow: scroll;
    scrollbar-width: none;
	border: 1px solid orange;
    max-height: 90vh;
}
.login-form h1, .login-header {
    font-size: 28px;
    font-weight: 500;
	color: #1cbed6;    
    margin: 12px;
    text-align: center;
}
.login-form p {
    color: #1cbed6 !important;
    text-align: left;
}
.login-form input {
    width: 100%;
	max-width: 100%;
    color: #000;
    border: 0;
    margin: 12px 0;
    outline: 0;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
}
.login-form input::placeholder {
    font-size: 16px;
    font-weight: 500;
}

.submit__disabled {
    background-color: rgb(2, 65, 2) !important;
    color: #ddd !important;
    cursor: not-allowed !important;
}
.input-container {
	width: 100%;
	overflow: hidden;
}
.input-container p {
	margin: 0;
	color: #ddd ;
}
.input-upload-image {
	height: 75px;
	width: 75px;
	cursor: pointer;
}

.form-help {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #b3b3b3;
    font-size: 13px;
}

.login-form-bottom-paragraphs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}
.form-switch {
    color: #3799AB;
    font-weight: 500;
    cursor: pointer;
}
.form-switch p {
    text-align: center;
    color: orange;
}

.forgot-password {
	cursor: pointer;
}
.forgot-password:hover {
	color: orange !important;
}
.switch-text {
    margin-left: 6px;
    color: #ddd;
    font-weight: 500px;
    cursor: pointer;
}
.orange-btn:hover {
    background-color: white;
    color: black;
}
.switch-text:hover {
    color: orange;
}
.admin__link {
    text-decoration: underline;
}

/**** Accout Setting ****/ 
.displayed-photourl {
	border-radius: 50%;
	width: 45px;
	max-height: 45px;
	border: 2px solid #0000002f;
}
.settings-ring-container {
	width: 100%;
	height: 100%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: transparent !important;
}
.disable__submit {    
    width: 100%;
    border: 0;
    outline: 0;
    padding: 16px;
    background: rgba(2, 94, 2, 0.712);
    color: rgb(151, 151, 151);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    margin: 12px 0 0 0;
    cursor: not-allowed;
}

.account-image-preview{
	width: 75px;
	position: relative;
	cursor: pointer;
}
.photourl-container {
	display: flex;
	gap: 24px;
	justify-content: space-between;
}
.x-image-preview {
	width: 16px;
	color: #1cbed6;
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 0;
}
.x-image-preview:hover {
	color: #000;
}
.account-settings-check {
	color: green;
	width: 24px;
}
.account-check-container {
	display: flex;
}
.account-button-container   {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

@media (max-width: 768px){
    .login-form {
        max-width: 80vw;
        max-height: 90vh;
        overflow-y: scroll;
        scrollbar-width: none;
    }
    .icon-small {
        display: none;
    }
    .login-header {
        font-size: 20px!important;
    }
    .login-form input {
        font-size: 12px;
        padding: 2px;
    }
    .login-form input::placeholder {
        font-size: 12px;
    }
    .login-form p {
        font-size: 12px;
    }
    .login-form img {
        width: 30px;
        height: 30px;
    }
    .login__x {
        width: 30px;
    }
}