.slider-wrapper {
    height: 65vh;
    overflow: hidden;
    position: relative;
}
.slider-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}
.slider-mini-image {
    position: absolute;
    top: 10%;
    left: 30%;
}
.slider {
    position: relative;
}
.inner h1, .inner p {
    color: white;
    text-align: center;
}
.slide-button {
    z-index: 100;
}
.inner p {
    font-size: 24px;
    width: 100%;
    line-height: 1.4;
}
.inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    width: 60vw;
}


/* Keen Slider */

.arrow--left, .arrow--right {
    cursor: pointer;
    position: absolute;
    width: 75px;
    color: white;
}
.arrow--left {
    top:  30%;
    left: 0;
}
.arrow--right {
    top: 30%;
    right: 0;
}
.hp1_testimonials_section {
    position: relative;
}
.dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
  }
  
  .dot {
    border: none;
    width: 10px;
    height: 10px;
    background: #c5c5c5;
    border-radius: 50%;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
  }
  
  .dot:focus {
    outline: none;
  }
  
  .dot.active {
    background: #000;
  }
  
  .arrow {
    padding: 0px 64px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    fill: #fff;
    cursor: pointer;
  }
  
