.home:hover {
    color: #3799AB !important;
}

.about-slider-image {
    width: 10vw;
    border-radius: 2px;
}

.about-slider-container {
    padding-top: 24px;
    width: 70vw;
    display: flex;
    overflow: hidden;

}

.about-slide-row {
    background-color: rgba(207, 207, 207, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-right: 24px;
}

.about-slide-desc-wrapper {
    width: 25vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-container {
    padding: 128px 64px 0px;
}

.home-bottom-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: #1dc6df;
    padding: 32px 0;
    margin-bottom: 64px;
}

.home-bottom-wrapper {
    max-width: 90vw;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 1fr 1fr;
    /* Three equal columns */
    gap: 20px;
    /* Space between columns */
    align-items: center;
    /* Align items vertically */
    text-align: center;
    /* Center text content */
}

.home-bottom-firstparagraph {
    font-weight: bold;
    max-width: 50%;
    word-wrap: break-word;
    border-right: 1px solid white;
    padding: 12px 24px;
    color: white;
    font-size: 22px;

}

.home-bottom-email {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    color: white;
    margin-right: 24px;
    gap: 12px;
}

.home-bottom-login {
    margin: 0;
    cursor: pointer;
    text-wrap: break-word;
}

.outline-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    border: 1px solid #1DC6DF;
    border-radius: 4px;
    color: #1DC6DF;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}

.home-bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.home-bottom-email h4 {
    margin: 0;
    color: white;
}

.home-bottom-email a {
    color: white;
}

/***** Gallery */
.post_content-2 {
    width: 100% !important;
    padding: 0px 0 128px !important;
}

.esg-entry-media {
    max-width: 300px;
    max-height: 350px;
    cursor: pointer;
    position: relative;
}

.esg-entry-media:hover {
    transform: scale(150%);
    z-index: 10;
}

.new-image {
    max-width: 300px;
    max-height: 375px;
}

.gallery-image-label-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-image-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.esg-filter-wrapper {
    display: flex;
    justify-content: space-between;
}

.add-image-template {
    cursor: pointer;
    padding: 6px 12px;
    border: 1px dotted orange;
    border-radius: 4px;
}

.add-image-details-container {
    padding: 12px 0;
}

.gallery-add-image-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-link-outline:hover {

    white-space: nowrap;
    position: relative;
    -webkit-transition: all 0.70s ease 0s;
    -moz-transition: all 0.70s ease 0s;
    -ms-transition: all 0.70s ease 0s;
    -o-transition: all 0.70s ease 0s;
    transition: all 0.70s ease 0s;
    z-index: 1;
    background-color: #ffa800;
    background-position: 98% 0 !important;
    color: white !important;
    border: 1px solid #ffa800;

}

.login-link-outline {
    cursor: pointer;
    border: 1px solid white;
    padding: 8px 24px;
    color: white !important;
    word-wrap: break-word !important;
}

.esg-grid {
    display: flex;
    flex-direction: column;
}

.esg-media-cover-wrapper {
    display: flex;
    flex-direction: column;
}

.esg-media-cover-wrapper div {
    display: flex;
    justify-content: space-between;
}

.gallery-image-label {
    color: #1DC6DF;
    cursor: pointer;
}

.gallery-image-label:hover {
    color: #2e2e2e !important;
    z-index: 1000;
}

.gallery-image {
    width: 100%;
    height: auto;
}

.gallery-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 128px 32px;
}

.manage-filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    gap: 24px;
    padding-bottom: 32px;
}

.gallery-back-arrow {
    width: 18px;
}

.gallery-filter-box {
    padding: 4px;
    border-radius: 2px;
    width: fit-content;
    text-align: center;
    cursor: pointer;
}

.admin_dropdown {
    position: absolute;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;

}

.admin_dropdown p {
    font-size: 16px;
}

.admin_dropdown p:hover {
    color: #1bbad2a4;
}

.admin_dropdown h1 {
    text-decoration: underline;
    font-size: 28px;
    margin-bottom: 48px;
    font-weight: bold;
}

.admin:hover .admin_dropdown {
    display: block;
    color: #1cbed6;
}

.manage-filter-arrow-container {
    display: flex;
    gap: 12px;
    cursor: pointer;
}

.edit-remove-column {
    height: 100px !important;
    text-align: center;
    background-color: #1cbed6;
    border-bottom: 1px solid white;
}

.manage-filter-button svg {
    height: 16px;
}

.manage-filter-button {
    text-align: center;
}

.manage-filter-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}



/********* Admin Tool Bar **********/
.manage-gallery-section {
    width: 100%;
}

.filter-input-label {
    font-size: 18px;
    font-weight: 500;
}

.filter-input {
    font-size: 18px;
    padding: 4px 8px;
    border-radius: 4px;


}

.filter-input-container {
    display: flex;
    gap: 24px;
    align-items: center;
    text-wrap: nowrap;
}

.filter-input-w-button {
    width: 100%;
    border: 1px solid #999999;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.manage-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

/**************** CAMP ************/
.camp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 32px;
}

.camp-wrapper {
    gap: 24px;
    text-align: center;
}

.camp-paragraph {
    text-align: center;
    margin: 0px;
}

.camp-paragraph h5 {
    text-align: center;
    margin: 15px;
    font-weight: 300;
    padding: 0px 24px;
}

.camp-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.camp-bg-image {
    padding: 128px 64px 0px;
}

@media (max-width: 768px) {
    .camp-intro-wrapper h1 {
        font-size: 28px;
    }

    .camp-intro-wrapper h2 {
        font-size: 26px;
    }

    .camp-intro-wrapper h3 {
        font-size: 20px;
    }
}

/********* CONTACT *******/
.contact-wrap {
    display: flex;
    gap: 24px;
    width: 70%;
    margin-top: 32px;
}

.contact-header-text {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 12px;
}

.contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 128px 0 64px;
}

.contact-label-wrap {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 12px;
}

.contact-label-wrap-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.contact-fb-logo {
    border-radius: 4px;
    background-color: transparent !important;
}

.contact-label {
    font-size: 18px;
    font-weight: 700;
    color: #1cbed6;
    width: fit-content;
    word-wrap: break-word;
    text-align: left;
}

.contact-item {
    align-self: flex-start;
    width: 50px;
}

.contact-item-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.contact-label2 {
    font-size: 16px;
    font-weight: 500;
    color: #1cbed6;
    width: auto !important;
    text-align: left;

}

.label-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-paragraph {
    font-size: 18px;
    font-weight: 600;
    width: 50%;
    text-align: center;
    margin: 24px 0px 12px;
}

.paragraph-container {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
}




@media (max-width: 768px) {
    .contact-wrap {
        align-items: center;
        flex-direction: column;
        margin-top: 12px;
    }

    .contact-label-wrap {
        width: 100%;
    }

    .contact-wrapper {
        padding-bottom: 32px;
    }

    .contact-label {
        font-size: 16px;
    }

    .contact-label2 {
        font-size: 14px;
        width: 80% !important;
    }

    .contact-paragraph {
        font-size: 14px;
        width: 70%;
        text-align: center;
    }

    .contact-item {
        width: 30px;
    }

    .contact-title {
        font-size: 24px;
    }

    .contact-header-text {
        font-size: 24px;
    }
}


/********* CWC *******/
.cwc-header {
    border: 1px solid #3a3a3a !important;
    margin: 0 32px;
    box-shadow: 0px 1px 1px 1px #034e7073;
}

.cwc-container {
    padding: 32px 64px 64px 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cwc-bg-image {
    padding-top: 128px;
    width: 100%;
    align-self: center;
}

.cwc-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    width: 80%;
    padding: 32px;
}

.cwc-intro-image {
    width: 450px;
    border-radius: 8px;
}

.cwc-intro-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 45% !important;
}

.cwc-intro-wrapper h2 {
    font-size: 24px;
}

.cwc-member-button {
    padding: 12px 16px;
    font-size: 18px;
    align-self: center;
}

.cwc-homepage-image {
    border: 1px solid #333;
    border-radius: 4px;
    margin-bottom: 32px;
}

.cwc-body-text {
    text-align: center;
    width: 50%;
    line-height: 1.9;
    margin: 32px 0;
    ;
}

.cwc-mission-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-slide {
    margin: 0 auto;
    max-width: 98vw;
}

.home-mission-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #1dc6df;
}

/* ✅ Left Side */
.left-wrapper {
    display: flex;
    text-align: right;
    flex: 1;
    width: 100%;
}

/* ✅ Right Side */
.right-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 0 32px;
    width: 50%;
    flex: 1;
    border-left: 1px solid rgba(207, 207, 207, 0.75);
}



.home-mission-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    /* Optional: Adjust width */
    padding: 64px 0;
}

/* ✅ Vertical Line (Separator) */
.home-mission-line {
    width: 2px;
    /* Adjust thickness */
    height: 100%;
    /* Make it as tall as the content */
    background-color: white !important;
    opacity: 0.8;
    margin: 0 20px;
}

.home-mission-box {
    background-color: #1DC6DF;
}

/* ✅ Left Side Text */
.home-mission-left {
    color: white;
    font-size: 26px !important;
    margin-right: 24px;
    /* Limit width */
}

/* ✅ Right Side Text */
.home-mission-subtitle {
    color: white;
    word-wrap: break-word;
    font-size: 18px;
    text-align: left;
    max-width: 550000000000000px;
    /* Limit width */
}

.home-mission-verse {
    color: white;
    font-size: 16px;
    font-weight: bold;
    align-self: flex-end;
}

/*  ABOUT US HEADER */
.about-header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 128px 128px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    gap: 32px;
}

.about-header-text-paragraph {
    color: #3799AB;
    font-weight: bold;
}

.about-header-image {
    width: 100%;
    /* Make it responsive */
    max-width: 800px;
    /* Limit max size */
    margin: 20px auto;
    /* Center it */
    display: block;
    border-radius: 10px;
    /* Optional: Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Simple shadow */
}

.about-header-text h5 {
    line-height: 1.5 !important;
    text-align: left;
}
.about-middle-image {
    margin-bottom: 24px;
}

.about-middle-image-container h5 {

    color: #3799AB;
    margin: 0 0 32px 0;
    font-weight: bold;
}


.cwc-mission-wrapper h3,
.cwc-mission-wrapper h4 {
    color: #ffffff !important;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.home-cwc-paragraph {
    text-align: center;
    color: #1dc6df;
    font-size: 22px;
    font-weight: 600;
    max-width: 80%;
    line-height: 1.8;
}

.home-cwc-buttons-wrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.home-cwc-title {
    font-size: 38px;
    color: orange;
    margin-bottom: 8px;
}

.home-cwc-wrapper {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cwc-mission-wrapper li {
    font-size: 18px;
    line-height: 3;
    color: #ffffff;
}

.cwc-visit-button {
    margin-top: 64px !important;
    padding: 12px 20px;
    font-size: 22px;
}

.cwc-mission-wrapper {
    margin-top: 32px;
    padding: 32px;
    border-radius: 4px;
    border: 2px solid #1DC6DF;
    width: 70%;
    background-color: orange;
    color: #FFFFFF !important;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    /* Adds a soft shadow */
}

.columns_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cwc-homepage-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.cwc-mission-wrapper:hover {
    position: relative;
    -webkit-transition: all 1.70s ease 0s;
    -moz-transition: all 1.70s ease 0s;
    -ms-transition: all 1.70s ease 0s;
    -o-transition: all 1.70s ease 0s;
    transition: all 1.70s ease 0s;
    z-index: 1;
    background-image: linear-gradient(270deg, #1DC6DF 0%, #1DC6DF 50%, #ffa800 50%, #ffa800 100%) !important;
    background-position: 98% 0 !important;
    color: #FFFFFF !important;
    -webkit-background-size: 210% 100%;
    -moz-background-size: 210% 100%;
    -ms-background-size: 210% 100%;
    -o-background-size: 210% 100%;
    background-size: 210% 100%;

}


.testimonial-container {
    background-image: url(/_next/static/media/testimonials.99324c18.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
}

.home-top-paragraph {
    text-align: center;
    color: black;
    font-size: 28px;
    padding: 32px 0 14px;
    margin: 0 !important;
}

.home-icons {
    width: 48px;
}

@keyframes rotateBackAndForth {
    0% {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-30deg);
    }
}

.art-sign-up {
    position: absolute;
    top: 150px;
    left: 80px;
    z-index: 5;
    animation: rotateBackAndForth 10s infinite ease-in-out;
}

.hp1_welcome_section {
    position: relative;
}

.home-welcome-item {
    padding-bottom: 24px;
    display: flex;
    gap: 24px;
    font-style: bold;
    font-size: 18px;
    color: #1DC6DF;
}

.home-welcome-title {
    color: #1cbed6;
    font-size: 32px;
}

.home-welcome-image-wrapper {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-welcome-image {
    width: 70%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.even {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-welcome-title-paragraph {
    width: 60% !important;
    font-size: 22px;
    line-height: 1.7;
    text-align: center;
    padding: 24px 0px;
}

.home-welcome-subtitle {
    color: #3799AB;
}

.home-action-container {
    padding: 64px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-cwc-button {
    align-items: center;
}
/******* SERMONS ********/

.sermon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 128px 32px;
    min-height: 70vh;
    background-color: #1DC6DF;
}
.sermon-container h1 {
    color: white;
}
.video-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    color: white;
    background-color: orange;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 10px; /* Optional rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .video-container h2{
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    padding: 24px;
  }
  .video-container h5 {
    padding: 0 24px;
  }
  @media (max-width: 768px) {
    .video-container h2 {
        padding: 6px;
        font-size: 14px !important;
    }
  }
  

@media (min-width: 768px) and (max-width: 1123px) {
    .art-sign-up {
        left: 100px !important;
        width: 150px;
    }
}

@media (max-width: 1028px) {
    .cwc-big-image {
        padding: 64px;
    }

    .cwc-wrapper {
        flex-direction: column;
        padding: 64px 12px 0;
    }

    .cwc-intro-wrapper {
        width: 100% !important;
        align-items: center;
    }

    .cwc-intro-wrapper h2 {
        font-size: 22px;
        width: 80%;
    }

    .cwc-intro-wrapper h5 {
        width: 80%;
        font-size: 16px;
    }

    .cwc-body-text {
        width: 80%;
        text-align: center;
        font-size: 16px;
        margin: 32px;
    }

    .cwc-mission-wrapper {
        width: 60% !important;
        margin: 0;
    }

    .cwc-mission-wrapper h3,
    .cwc-mission-wrapper h4 {
        font-size: 18px !important;
    }

    .cwc-mission-wrapper li {
        font-size: 14px;
    }

}

@media (max-width: 768px) {
    .home-mission-wrapper {
        flex-direction: column;
        text-align: center;
        padding: 32px 0;
    }

    .about-header {
        font-size: 18px !important;
    }

    .home-mission-left {
        font-size: 18px !important;
        margin: 0 0 32px;
    }

    .right-wrapper {
        border-top: 1px solid rgba(207, 207, 207, 0.75);
        width: 90%;
    }

    .left-wrapper,
    .right-wrapper {
        align-items: center;
        text-align: center;
        padding: 0;
        border-left: none;
    }

    .left-wrapper {
        max-width: 70%;
    }

    .home-mission-subtitle {
        margin-top: 32px;
        width: 80%;
        font-size: 12px;
    }

    .home-mission-verse {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 12px;
    }

    p {
        font-size: 18px;
    }

    .home-container {
        padding: 128px 32px 0;
    }

    .cwc-wrapper {
        flex-direction: column;
    }

    .cwc-body-text {
        width: 100%;
    }

    .cwc-visit-button {
        margin-top: 32px;
    }

    .slider-container {
        display: none;
    }

    .home-welcome-image {
        width: 70%;
    }

    .home-welcome-image-wrapper {
        width: 100%;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .home-welcome-subtitle {
        font-size: 18px !important;
        padding-bottom: 12px;
    }

    .home-welcome-title {
        font-size: 22px;
    }

    .home-welcome-subtitle {
        font-size: 14px;
        padding-bottom: 0px;
    }

    .home-welcome-title-paragraph {
        width: 100% !important;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.9;
    }

    .sc_services_item_description {
        font-size: 14px !important;
    }

    .sc_services_item_content {
        margin: 0 !important;
        text-align: center;
    }

    .home-welcome-items-paragraph {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cwc-homepage-image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 24px;
    }

    .home-welcome-item {
        gap: 6px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .art-sign-up {
        left: 30px;
        top: 120px;
        width: 100px;
    }

    .home-icons {
        width: 38px !important;
    }

    .home-cwc-button-wraper {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .columns_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .home-cwc-title {
        font-size: 26px;
    }

    .home-cwc-button {
        align-items: center;
    }

    .testimonial-comment {
        font-size: 14px;
    }

    .home-bottom-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .home-bottom-firstparagraph {
        border-right: none;
        font-size: 14px !important;
        word-wrap: normal;
        max-width: 70vw;
        padding: 0 !important;
        margin: 0;
        line-height: 1.8;
    }

    .home-bottom-email {
        border-top: 1px solid white;
        padding-top: 22px;
        text-align: center;
    }

    .footer-wrapper {
        flex-direction: column;
    }

    .login-link-outline {
        margin: 0;
    }

    .cwc-container {
        padding: 32px;
    }

    .cwc-bg-image {
        width: 100%;
        padding-top: 64px;
    }

    .cwc-intro-image {
        width: 70%;
        padding: 32px 0px 0;
    }

    .cwc-wrapper {
        padding: 0;
        width: 100%;
        justify-content: center;
    }

    .cwc-intro-wrapper {
        width: 100%;
        align-items: center;
    }

    .cwc-intro-wrapper h2 {
        width: 100%;
        font-size: 20px !important;
    }

    .cwc-intro-wrapper h5 {
        width: 100%;
        font-size: 14px !important;
    }

    .cwc-body-text {
        width: 100%;
        font-size: 14px;
        margin: 18px 32px;
    }

    .cwc-mission-container {
        padding: 18px 0;
    }

    .cwc-mission-wrapper {
        width: 90% !important;
        padding: 18px;
    }

    .cwc-mission-wrapper h3,
    .cwc-mission-wrapper h4 {
        font-size: 16px !important;
    }

    .cwc-mission-wrapper li {
        font-size: 12px;
        line-height: 1.8 !important;
    }

    .cwc-visit-button {
        margin-top: 32px !important;
        font-size: 16px;
    }

    .esg-entry-media:hover {
        transform: none;
    }

    .manage-filter-container {
        flex-direction: column;
        gap: 12px;
    }

    .manage-filters.label {
        font-size: 12px !important;
    }

    .manage-buttons-container {
        flex-direction: column;
        gap: 12px;
    }

    .about-header-container {
        padding: 128px 32px;
    }
    .about-middle-image {
        max-width: 250px;
        margin-bottom: 24px;
    }
}