.home:hover {
	color: #3799AB !important;
}
.about-slider-image {
	width: 10vw;
	border-radius: 2px;
}
.about-slider-container {
	padding-top: 24px;	
	width: 70vw;
	display: flex;
	overflow: hidden;
	
}
.about-slide-row {
	background-color: rgba(207, 207, 207, 0.75);
	display: flex;
	align-items: center;
	justify-content: center;
}
.about-slider-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
	padding-right: 24px;
}
.about-slide-desc-wrapper {
	width: 25vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.home-bottom-container {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
}
.home-bottom-wrapper {
	max-width: 90vw;	
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 1fr 1fr; /* Three equal columns */
    gap: 20px; /* Space between columns */
    align-items: center; /* Align items vertically */
    text-align: center; /* Center text content */
}

.home-bottom-firstparagraph {
    font-weight: bold;
	max-width: 50%;
	word-wrap: break-word;
	border-right: 1px solid white;
	padding: 12px 24px;    
	color: white;
	font-size: 22px;
    
}

.home-bottom-email {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
	color: white;
	margin-right: 24px;
	gap: 12px;	
}
.home-bottom-login {
	margin: 0;
	cursor: pointer;
    text-wrap: break-word;
}

.outline-button {
    display: flex;
    justify-content: center;
	align-items: center;
	padding: 8px 16px;
	border: 1px solid #1DC6DF;
	border-radius: 4px;
	color: #1DC6DF;
	cursor: pointer;
	font-size: 18px;
	font-weight: 500;
	transition: 0.3s;
}
.home-bottom-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.home-bottom-email h4 {
	margin: 0;
	color: white;
}
.home-bottom-email a {
	color: white;
}
/***** Gallery */
.post_content-2 {
	width: 100% !important;
	padding: 0px 0 128px !important;
}
.esg-entry-media {
    max-width: 300px;
    max-height: 350px;
	cursor: pointer;
	position: relative;
}
.esg-entry-media:hover {
	transform: scale(150%);
	z-index: 10;
}
.new-image{
    max-width: 300px;
    max-height: 375px;
}
.gallery-image-container {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}
.esg-filter-wrapper {
	display: flex;
	justify-content: space-between;
}

.login-link-outline:hover {    
    
    white-space: nowrap;
    position: relative;
    -webkit-transition: all 0.70s ease 0s;
       -moz-transition: all 0.70s ease 0s;
        -ms-transition: all 0.70s ease 0s;
         -o-transition: all 0.70s ease 0s;
            transition: all 0.70s ease 0s;
    z-index: 1;
    background-color: #ffa800;
    background-position: 98% 0 !important;
    color: white !important;
    border: 1px solid #ffa800;

}
.login-link-outline {
	cursor: pointer;
    border: 1px solid white;
    padding: 8px 24px;
    color: white !important;
    word-wrap: break-word !important;
}
.esg-grid {
	display: flex;
	flex-direction: column;
}
.esg-media-cover-wrapper {
	display: flex;
	flex-direction: column;
}
.esg-media-cover-wrapper div {
	display: flex;
	justify-content: space-between;
}
.gallery-image-label {
	color: #1DC6DF;
	cursor: pointer;
}
.gallery-image-label:hover {
	color: #2e2e2e !important;
	z-index: 1000;
}

.gallery-filter-box {
	padding: 4px;
	border-radius: 2px;
	width: fit-content;
	text-align: center;
	cursor: pointer;
	margin-bottom: 32px;
}
.admin_dropdown {
    position: absolute;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;

}
.admin_dropdown p {
    font-size: 16px;
}
.admin_dropdown p:hover {
	color: #1bbad2a4;
}
.admin_dropdown h1 {
    text-decoration: underline;
    font-size: 28px;
    margin-bottom: 48px;
    font-weight: bold;
}
.admin:hover .admin_dropdown {
    display: block;
    color: #1cbed6;
}
.manage-filter-container {
	display: flex;
	gap: 24px;
}
.gallery-back-arrow {
	width: 18px;
}
.manage-filter-arrow-container {
	display: flex;
	gap: 12px;
	cursor: pointer;
}
.edit-remove-column {
    height: 100px !important;
    text-align: center;
    background-color: #1cbed6;
    border-bottom: 1px solid white;
}
.manage-filter-button svg {
    height: 16px;
}
.manage-filter-button {
    text-align: center;
}
.manage-filter-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
} 



/********* Admin Tool Bar **********/ 
.manage-gallery-section {
	width: 100%;
}
.filter-input-label {
	font-size: 18px;
	font-weight: 500;
}
.filter-input {
	font-size: 18px;
	padding: 4px 8px;
	border-radius: 4px;
	
	
}
.filter-input-container {
	display: flex;
	gap: 24px;
	align-items: center;
	text-wrap: nowrap;
}
.filter-input-w-button {
	width: 100%;
	border: 1px solid #999999;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	padding: 4px;
}
.manage-buttons-container {
	display: flex;
	gap: 12px;
}
/**************** CAMP ************/

.camp-wrapper {
	gap: 24px;
    text-align: center;
}
.camp-paragraph {
	text-align: center;
	margin: 0px;
}
.camp-paragraph h5 {
	text-align: center;
	margin: 15px;
	font-weight: 300;
    padding: 0px 24px;
}
.camp-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px){
    .camp-intro-wrapper h1 {
        font-size: 28px;
    }
    .camp-intro-wrapper h2 {
        font-size: 26px;
    }
    .camp-intro-wrapper h3 {
        font-size: 20px;
    }
}
/********* CONTACT *******/
.contact-wrap {
	display: flex;
	gap: 24px;
}
.contact-label-wrap {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 12px;
}
.contact-label-wrap-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.contact-label {
    font-size: 18px;
    font-weight: 700;
    color: #1cbed6;
    width: fit-content;
}
.contact-item {
    align-self: flex-start;
}
.contact-label2 {
    font-size: 16px;
    font-weight: 500;
    color: #1cbed6;
    width: auto !important;
}
.label-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-paragraph {
    font-size: 16px;
    font-weight: 500;
    margin: 12px 32px 52px;
}



@media (max-width: 768px){
    .contact-wrap {
        align-items: center;
        flex-direction: column;
    }
}


/********* CWC *******/
.cwc-header {
	border: 1px solid #3a3a3a !important;
	margin: 0 32px;
	box-shadow: 0px 1px 1px 1px #034e7073;
}
.cwc-container {
	padding: 64px 32px 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.cwc-bg-image {
	padding-top: 128px;
}
.cwc-wrapper {
	display: flex;
	align-items: center;	
	gap: 48px;
	padding: 0 64px;
}
.cwc-intro-image {
	width: 450px;
}
.cwc-intro-wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.cwc-member-button {
	padding: 4px 8px;
	font-size: 18px;
	width: fit-content;
	align-self: center;
}
.cwc-homepage-image {
	border: 1px solid #333;
	border-radius: 4px;
    margin-bottom: 32px;
}
.cwc-body-text {
	text-align: center;
	width: 80%;
	line-height: 1.9;
}
.cwc-mission-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
@media (max-width: 1028px){
    .cwc-wrapper {
        flex-direction: column;
        padding: 0 12px;
    }
    .cwc-mission-container {
        padding: 0 12px;
    }
    
}

.home-mission-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.home-mission-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px; /* Optional: Adjust width */
}

/* ✅ Left Side */
.left-wrapper {
    display: flex;
    text-align: right;
    flex: 1;
    width: 100%;
}

/* ✅ Right Side */
.right-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: 20px;
    width: 50%;
    flex: 1;
    border-left: 1px solid rgba(207, 207, 207, 0.75);
}

/* ✅ Vertical Line (Separator) */
.home-mission-line {
    width: 2px; /* Adjust thickness */
    height: 100%; /* Make it as tall as the content */
    background-color: white !important;
    opacity: 0.8;
    margin: 0 20px;
}
.home-mission-box {
    background-color: #1DC6DF;
}

/* ✅ Left Side Text */
.home-mission-left {
    color: white;
    font-size: 22px; /* Limit width */
}

/* ✅ Right Side Text */
.home-mission-subtitle {
    color: white;
    word-wrap: break-word;
    font-size: 14px;
    text-align: left;
    max-width: 400px; /* Limit width */
}

.home-mission-verse {
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.about-us-header {
    background-image: url('../images/cross-in-sky.png');    
    background-size: cover;
    background-position: top;
    height: 20vh;
    position: relative;
}
.about-us-banner-image {
    width: 100%;
    height: auto;
    position: relative;
}
.about-header {
    color: white !important;    
    text-align: center;
    z-index: 5;
}
.about-header-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    left:20%;
    z-index: 5;
    top: 0;
}
.gallery-image {
    width: 100%;
    height: auto;
}

/* ✅ Responsive Design */
@media (max-width: 768px) {
    .home-mission-wrapper {
        flex-direction: column;
        text-align: center;
    }
    .about-header {
        font-size: 18px !important;
    }
    .home-mission-left {
        font-size: 26px;
    }
    .right-wrapper {
        border-top: 1px solid rgba(207, 207, 207, 0.75);
        width: 90%;
    }
    .left-wrapper, .right-wrapper {
        align-items: center;
        text-align: center;
        padding: 0;
        border-left: none;    
    }
    .left-wrapper {
        max-width: 70%;
    }
    .home-mission-subtitle {
        width: 80%;
        font-size: 16px;
    }
    .home-mission-verse {
        margin: 0;
    }
}

.cwc-mission-wrapper h3, .cwc-mission-wrapper h4 {
	color: #ffffff !important;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;	
}
.home-cwc-paragraph {
    text-align: center;
    color: #1dc6df;
    font-size: 22px;
    font-weight: 600;
    max-width: 80%;
}
.cwc-mission-wrapper li {
	font-size: 18px;
	line-height: 2;
	color: #ffffff;
}
.cwc-visit-button {
	margin-top: 64px !important;
	padding: 8px 16px;
	font-size: 18px;
	border: 1px solid #000;
}
.cwc-visit-button:hover {
	border: 1px solid #1dc6df;
}
.cwc-mission-wrapper {
	margin-top: 32px;
	padding: 32px;
	border-radius: 4px;
	border: 2px solid #000;
	width: 90%;
	background-color: #1DC6DF;
	color: #FFFFFF !important;
}
.columns_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cwc-homepage-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80% !important;
}

.cwc-mission-wrapper:hover {
    position: relative;
    -webkit-transition: all 1.70s ease 0s;
       -moz-transition: all 1.70s ease 0s;
        -ms-transition: all 1.70s ease 0s;
         -o-transition: all 1.70s ease 0s;
            transition: all 1.70s ease 0s;
    z-index: 1;
    background-image: linear-gradient(270deg, #ffa800 0%, #ffa800 50%, #1DC6DF 50%, #1DC6DF 100%) !important;
    background-position: 98% 0 !important;
    color: #FFFFFF !important;
    -webkit-background-size: 210% 100%;
       -moz-background-size: 210% 100%;
        -ms-background-size: 210% 100%;
         -o-background-size: 210% 100%;
            background-size: 210% 100% ;

}


.testimonial-container {
    background-image: url(/_next/static/media/testimonials.99324c18.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
}

.home-top-paragraph {
    text-align: center;
    color: black;
    font-size: 28px;
    padding-bottom: 24px;
}
.home-icons {
    width: 48px;
}

.home-welcome-item{
    padding-bottom: 24px;
    display: flex;
    gap: 32px;
    font-style: bold;
    font-size: 18px;
    color: #1DC6DF;
}
.home-welcome-title {
    color: #1cbed6;
    font-size: 32px;
}
.even {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-welcome-title-paragraph {
    width: 70% !important;
    font-size: 18px;
    text-align: center;
    padding: 24px 0px;
}
.home-welcome-subtitle {
    color: #3799AB;
}
.home-action-container {
    padding: 64px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-cwc-button-wrapper{
    width: 100%;
    align-items: center;
    display: flex;
}
.home-cwc-button {
    align-items: center;
}


@media screen and (max-width: 768px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 18px;
    }
    h5 {
        font-size: 16px;
    }
    p {
        font-size: 18px;
    }
    .cwc-intro-image {
        width: 100%;
    }
    .cwc-wrapper {
        flex-direction: column;
    }
    .cwc-mission-wrapper {
        width: 100%;
    }
    .cwc-mission-wrapper h3, .cwc-mission-wrapper h4 {
        font-size: 22px;
    }

    .cwc-mission-wrapper li {
        font-size: 16px;
    }
    .cwc-body-text {
        width: 100%;
    }
    .cwc-visit-button {
        margin-top: 32px;
    }
    .slider-container {
        display: none;
    }
    .home-welcome-image {
        width: 70%;
        padding-bottom: 32px;
    }
    .home-welcome-image-wrapper {
        width: 100%;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    .home-welcome-subtitle {
        font-size: 18px !important;
        padding-bottom: 12px;
    }
    .home-welcome-title {
        font-size: 22px;
    }
    .home-welcome-subtitle {
        font-size: 14px;
    }
    .home-welcome-title-paragraph {
        width: 100% !important;
        font-size: 16px;
        line-height: 1.9;
    }
    .sc_services_item_description {
        font-size: 14px !important;
    }
    .sc_services_item_content {
        margin: 0 !important;
        text-align: center;
    }
    
    .home-welcome-items-paragraph {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cwc-homepage-image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 24px;
    }
    .home-welcome-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .home-icons {
        width: 38px !important;
    }
    .home-cwc-button-wraper {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .columns_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .cwc-homepage-image{
        width: 80% !important;
    }
    .home-cwc-title {
        font-size: 32px;
    }
    .home-cwc-button {
        align-items: center;
    }
    .home-cwc-wrapper {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .testimonial-comment {
        font-size: 14px;
    }
    .home-bottom-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .home-bottom-firstparagraph{
        border-right: none;
        border-bottom: 1px solid white;
       font-size: 22px !important;
       word-wrap: normal;
       max-width: 70vw;
       padding: 0 !important;
       margin: 0;
       line-height: 1.8;
    }
    .home-bottom-email {
        text-align: center;
    }
    .footer-wrapper {
		flex-direction: column;
	}
    .login-link-outline {
        margin: 0;
    }
}