@charset "utf-8";

body {
  font-family: "Raleway", sans-serif !important;
  font-size: 14px !important;
  line-height: 1.7143em !important;
  font-weight: 400 !important;
}
.scheme_original .body_wrap {
  color: #555555;
}
h1 {
  font-size: 3em;
  line-height: 1.1429em;
  font-weight: 700;
  margin-top: 0.5em;
  margin-bottom: 0.9762em;
}
h2 {
  font-size: 2.5714em;
  line-height: 1.3333em;
  font-weight: 700;
  margin-top: 1.7222em;
  margin-bottom: 0.9167em;
}
h3 {
  font-size: 1.7143em;
  line-height: 1.5em;
  font-weight: 700;
  margin-top: 2.7917em;
  margin-bottom: 0.875em;
}
h4 {
  font-size: 1.4286em;
  line-height: 1.5em;
  font-weight: 700;
  margin-top: 2.45em;
  margin-bottom: 1.2em;
}
.bold {
  font-weight: bold;
}
h5 {
  font-size: 1.2857em;
  line-height: 1.3333em;
  font-weight: 700;
  margin-top: 2.8889em;
  margin-bottom: 1.3333em;
}
h6 {
  font-size: 1em;
  line-height: 1.5714em;
  font-weight: 700;
  margin-top: 3.7143em;
  margin-bottom: 0.5em;
}
.home-welcome-wrapper {
	margin-bottom: 3.3571em;
    position: relative;
    
}
